@charset "utf-8";
/* CSS Document */
*{
	line-height: inherit;
	outline:none;
	
}

html * {max-height:1000000px;}

h1{
	text-align: left;
}

img{
	border:none;
	margin:0px;
	padding:0px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* не забываем это свойство для html и body */
	font-family: 'DINPro-Regular';
	min-width:1200px;
	overflow-x: hidden;
}

body{

}

.clear {
  clear:both;
}
a{
	color:#ea5826;
	text-decoration:none;
	transition:all 0.3s ease;
}

a:hover{
	text-decoration:underline;
}

#conteiner {
    position: relative;
    min-height: 100%; /* минимальная высота контейнера, ее понимают все браузеры за исключением IE6 */
	background:url(../images/bg.jpg) top left repeat-x;
}

/* ниже фильтр * html так называемый CSS хак, через который можно задать любое свойство предназначенное для IE6 */
* html #conteiner {
    height: 100%;
}

#header {
    position: relative;
    width: 1060px;
	height:241px;
	margin:auto;
}

/* элемент ниже позволяет не наезжать подвалу на контент, он должен быть не меньше подвала по высоте */
.end_content {
    position: relative;
    height: 135px;
}

#footer {
    background-color:#eb5614;
    color:#FFF;
    position: relative;
    margin-top: -125px; /* свойство должно быть равным высоте элемента, не забываем про отрицательное значение */
    height: 125px;
}

.wht1060{
	width:1060px;
	margin:auto;
	position:relative;
	color:#626262;
	text-align:justify;
}


#footer .wht1060{
	height:100%;
}

#logo{
	background:url(../images/logo.png) center center no-repeat;
	width:279px;
	height:116px;
	display:block;
	overflow:hidden;
	text-indent:-999px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:30px;	
}

.namecomp{
	position:absolute;
	top:63px;
	left:326px;
	color:#626262;
	font-size:12px;
	line-height:14px;
	text-transform: uppercase;
	font-weight:bold;
}

.namecomp h3{
	margin:0px 0px 20px 0px;
	padding:0px;
	color:#eb5614;
	font-size:16px;
}
.slogan_down {
	margin-top:20px !important;
}

.topmenu{
	position:absolute;
	right:0px;
	top:185px;
	margin:0px;
	padding:0px;
	list-style:none;
}

.topmenu > li{
	display:list-item;
	float:left;
	margin-left:15px;
	position:relative;
	z-index: 9999;
	padding-bottom:5px;
}

.topmenu > li > a{
	display:inline-block;
	color:#626262;
	font-family: 'DINPro-Black';
	font-size:13px;
	text-decoration:none;
	text-transform:uppercase;
}

.topmenu > li > a:hover,.topmenu > li > a.active,.topmenu > li:hover > a{
	border-bottom:2px solid #eb5614;
}

.topmenu > li ul{
	display:none;
	position:absolute;
	top:24px;
	right:0px;
	width:240px;
	text-transform:uppercase;
	background: rgba(155,163,166,0.9);
	text-align:right;
	margin:0px;
	padding:0px;
	list-style:none;
}

.topmenu > li ul li{
	padding:3px 0px;
  white-space: nowrap;
	border-bottom:1px solid #d5d9da;
}

.topmenu > li ul li:last-child{
	border:none;
}

.topmenu > li:hover ul{
	display:block;
	font-size:11px;
}

.topmenu > li:hover ul a{
	color:#fff;
	display:block;
	padding:0px 5px;
}

/*MENU_MOBILE BUTTON*/
.line_menu{
	position: absolute;
	background-color: transparent;
	width: 100%;
	height: 60px;
	z-index: 300;
	display: none;
}

.menu_btn_wrap{
	position: absolute;
	top: 20px;
	left: 20px;
	display: none;
	z-index: 250;
}
.container123 {
	width: 45px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 4px;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #030304;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-9px, -7px) ;
}

/*OPEN MENU*/
.mobile_menu_open{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	color: #fff;
	overflow-y: scroll;
	z-index: 200;
	background-color: #BDC6CA;
	text-align: center;
}
.menu_wrap{
	margin: auto;
	/*margin-left: 15%;*/
	line-height: 20px;
	width: 50%;
	height: 75%;
	color: #fff;
	display: block;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.mob_menu {
	text-decoration: none;
	color: #fff;
}
.mob_menu_ul{
	list-style-type:none;
	color: #fff;
	margin-left: -40px;
	padding-top: 7px;
	text-align: center;
	font-size: 1.8em;
}
.mob_menu_li a{
	color: #fff;
	margin-left: 5px;
}
.mob_menu_li a:hover{
	text-decoration: none;
	color: #aaa;
	transition: 0.25s ease
}



/*PLUS LINK FOR OPEN MOB MENU UNDER*/ 
.open_hide_menu{
	float: right;
	/*right: 50px; */
	/*right: 0;*/
	margin-right: -25px; 
	cursor: pointer; 
	font-size: 1.2em;
	margin-top: -26px;
}



.rab-info{
	display:block;
	position:absolute;
	top:110px;
	right:0px;
	text-align:right;
	font-size:16px;
	color:#eb5614;
	font-weight:bold;

} 

.rab-info .timer{
	color:#626262;
	font-size:13px;
	text-transform:uppercase;
}

.lng-t{
	position:absolute;
	top:70px;
	right:200px;
	color:#626262;
	font-weight:bold;
	font-size:16px;
}

.lng-t a{
	text-decoration:none;
	color:#626262;
}

.lng-t a.active,.lng-t a:hover{
	color:#eb5614;
}

#search{
	display:block;
	width:177px;
	height:25px;
	background:url(../images/search-bg.png) center center no-repeat;
	position:absolute;
	top:75px;
	right:0px;
}

.copy{
	color:#ffffff;
	font-size:15px;
	line-height:17px;
	position:absolute;
	top:35px;
	left:0px;
}

.copy span{
	display:block;
	margin-bottom:7px;
}

.footmenu{
	margin:0px;
	padding:0px;
	overflow:hidden;
	list-style:none;
	position:absolute;
	right:165px;
	top:37px;
}

.footmenu li{
	display:list-item;
	float:left;
	margin-right:30px;
}

.footmenu li a{
	font-size:15px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
}

.footmenu li a:hover,.footmenu li a.active{
	color:#626262;
}

.count{
	position: absolute;
	top:37px;
	right:0px;
}

.navibar{
	display:block;
	margin:0px;
	padding-top:20px;
	list-style:none;
	overflow:hidden;
	margin-bottom:-1px;
}

.navibar li{
	display:list-item;
	float:left;
	color:#646464;
	/*font-size:24px;*/
  font-size:18px;
	text-transform:uppercase;
	position:relative;
	/*left:-3px;*/
}

.navibar li a{
	color:#ea5826;
	display:inline-block;
	margin:0px 3px;
	text-decoration:none;
	text-align: left;
}

.navibar li:last-child a{ color:#646464;}

.text-box{
	color:#626262;
	font-size:16px;
	line-height:17px;
	text-align:justify;
}

.text-box p{
	margin:0px;
	padding:0px 0px 17px 0px;
}

.bfont{
	color:#ea5826;
	font-weight:bold;
	text-transform:uppercase;
}

.menu-usl-bot{
	display:block;
	list-style:none;
	margin:0px 0px 20px 0px;
	padding:0px;
	overflow:hidden;
	text-align:center;
	font-size:17px;
	text-transform:uppercase;
}

.menu-usl-bot li{
	display: list-item;
	float: left;
	width:20%;
	margin-bottom:5px;
}

.menu-usl-bot li a{
	display:block;
	height:55px;
	background:#bdc6ca;
	color:#fff;
	padding-top:6px;
	border-right:4px solid #fff;
	font-weight:bold;
	

}

.menu-usl-bot li a.nopd{
	padding: 3px 0px 12px 0px;
}

.menu-usl-bot li a:hover,.menu-usl-bot li a.active{
	background:#eb5614;
	text-decoration:none;
}

.maps-box-menu{
	display:block;
	overflow:hidden;
	background:#dce4e8;
}

.maps-box-menu .left-side-b{
	float:left;
	width:195px;
}

.maps-box-menu .left-side-b a{
	display:block;
	background:#bdc6ca;
	color:#fff;
	text-decoration:none;
	padding:22px 30px 22px 20px;
	margin-bottom:3px;
	text-transform:uppercase;
	font-size:19px;
	font-weight:bold;
	line-height:21px;
}

.maps-box-menu .left-side-b a:last-child{
	margin:0px;
}
.maps-box-menu .left-side-b a.active,.maps-box-menu .left-side-b a:hover{
	background:#eb5614;
}

.maps-box-menu .right-side-b{
	margin-left:195px;
}
.right-side-b .tabs:first-child {
    display: block;
}

.right-side-b .tabs {
    display: none;
}

.maps-box-menu .right-side-b img{
	display:block;
	margin:0px;
	padding:0px;
}

.titleh1{
	font-size:21px;
	color:#ea5826;
	text-transform:uppercase;
	padding-left:13px;
	margin-top:20px;
	margin-bottom:8px;
}

.news-list{
	margin:0px;
	padding:0px;
	list-style:none;
	overflow:hidden;
	width:1110px;
	padding-bottom:25px;
	padding-top:15px;
}

.news-list li{
	width:337px;
	float:left;
	margin:0px 20px 25px 0px;
	min-height:260px;
}

.news-list li a{
	display:block;
}

.news-list li a > span{
	display:block;
	background:#dce4e8;
	padding:10px;
	height:85px;
	text-align:left;
}

.news-list li a:hover{
	text-decoration:none;
}

.news-list li a:hover > span{
	background:#bdc6ca;
}

.news-list li a > span > span{
	display:block;
	color:#000000;
	font-size:12px;
}

.news-list li a > span > span.name{
	color:#eb5614;
	font-size:15px;
	text-transform:uppercase;
}
.cat-list{
	margin:0px;
	padding:0px;
	list-style:none;
	overflow:hidden;
	width:1110px;
	padding-bottom:25px;
	padding-top:15px;
}

.cat-list li{
	width:330px;
	/*float:left;*/
  display: inline-block;
  vertical-align: top;
	margin:0px 20px 25px 0px;
	/*min-height:440px;*/
	text-align:left;
}

.cat-list li a{
	display:inline-block;
}

.cat-list li a > span{
	display:block;
	background:#eb5614;
	padding:10px;
	/*height:60px;*/
	height:45px;
}
.cat-list li a .plaska-main{
	display:block;
	background:#eb5614;
	padding:0 20px;
	height:55px;
}
.cat-list li a .plaska-main > div{
	display:block;
	color:#000000;
	font-size:12px;
}

.cat-list li a .plaska-main > div.name-prod{
	color:#fff;
	font-size:17px;
	text-transform:uppercase;
	text-align:center;
	display: table-cell;
    vertical-align: middle;
	width:300px;
}
.cat-list li a:hover{
	text-decoration:none;
}

/*.cat-list li a:hover > span{
	background:#bdc6ca;
}*/

.cat-list li a > span > span{
	display:block;
	color:#000000;
	font-size:12px;
}

.cat-list li a > span > span.name{
	color:#fff;
	font-size:17px;
	text-transform:uppercase;
	text-align:center;
}



.cat-list > li ul{
	display:none;
	position:inherit;
	top:24px;
	right:347px;
	width:337px;
	text-transform:uppercase;
	background-color: #e5ecef ;
	text-align:right;
	margin:0px;
	padding:0px;
	list-style:none;
}

.cat-list > li ul li{
	padding:3px 0px;
  white-space: nowrap;
	border-bottom:1px solid #d5d9da;
}

.cat-list > li ul li:last-child{
	border:none;
}

.cat-list > li:hover ul{
	display:block;
	font-size:11px;
}

.cat-list > li:hover ul a{
	color:#656565;
	display:block;
	padding:0px 5px;
}








.maps-dil{
	text-align:center;
	border:3px solid #ea5b0c;
	margin-bottom:50px;
	position: relative;
}


.maps-dil .select_region {
	position: absolute;
	top: 0;
	left: 23px;
	width: 1008px;
	height: 527px;
}

.maps-dil .map_area {
	position: absolute;
	top: 0;
	left: 23px;
	z-index: 100;
	width: 1008px;
	height: 527px;
}

.maps-dil .select_region .region_item {
	position: absolute;
	display: none;
}
.maps-dil .select_region .region_item.active {
	display: block;
}

.maps-dil .select_region .region_item.ps1{
	left: 114px;
	top: 169px;
}
.maps-dil .select_region .region_item.ps2{
	left: 622px;
	top: 3px;
}
.maps-dil .select_region .region_item.ps3{
	left: 0;
	top: 327px;
}
.maps-dil .select_region .region_item.ps4{
	left: 160px;
	top: 183px;
}
.maps-dil .select_region .region_item.ps5{
	left: 368px;
	top: 79px;
}
.maps-dil .select_region .region_item.ps6{
	left: 71px;
	top: 324px;
}
.maps-dil .select_region .region_item.ps7{
	left: 100px;
	top: 77px;
}
.maps-dil .select_region .region_item.ps8{
	left: 267px;
	top: 165px;
}
.maps-dil .select_region .region_item.ps9{
	left: 64px;
	top: 282px;
}

#dil_map {position: relative; z-index: 100;}
#dil_map area {cursor: pointer; position: relative; z-index: 100;}

.region_info .item {display: none;}
.region_info .item.active {display: block;}





.select-r-dil{
	text-align:left;
	padding-left:21px;
	padding-bottom:15px;
	padding-top:15px;
	font-size:17px;
	color:#626262;
	text-transform:uppercase;
}

.box-title-o{
	border-top:8px solid #ea5826;
	padding:20px 0px 35px 15px;
	font-size:24px;
	color:#626262;
	
}

.box-title-o h3{
	margin:0px;
	padding:0px;
	color:#ea5826;
	font-size:25px;
	text-transform:uppercase;
  line-height: 45px;
}

.selsity{
	padding:4px 0px 4px 15px;
	color:#626262;
	font-size:19px;
	background:#dce4e8;
	text-transform:uppercase;
	margin-bottom:15px;
}

.selsity a{
	display:inline-block;
	margin-left:5px;
}

.dilz{
	text-align:center;
	font-size:20px;
	color:#626262;
	margin-bottom:75px;
}


.dilz .caption td{
	border-bottom: 5px solid #ea5826;
	color:#626262;
	font-size:20px;
	text-transform:uppercase;
	background:#fff;
	border-right: none;
	
}

.dilz td{
	background: #dce4e8;
	border-bottom:2px dashed #fff;
	padding:10px 0px;
	border-right:4px solid #fff;
}

.dilz tr:nth-child(2) td{
	border-top:11px solid #fff;
}

.dilz tr:last-child td{
	border-bottom:none;
}

.ofvbix{
	display:block;
	overflow:hidden;
	margin-bottom:20px;
}

.ofvbix .imgbox-dir{
	width:305px;
	float:left;
}

.ofvbix .opis-dir-box{
	margin-left:326px;
	color:#626262;
	font-size:17px;
}

.ofvbix .opis-dir-box h3{
	color:#ea5826;
	font-size:16px;
	text-transform:uppercase;
	margin:0px;
	padding:0px 0px 20px 0px;
}

.ofvbix .opis-dir-box h3 span{
	display:block;
	color:#626262;
	font-size:12px;
}

input.indbl{
	display:block;
	width:100%;
	background:#dce4e8;
	color:#626262;
	font-size:14px;
	text-transform:uppercase;
	border:none;
	margin-bottom:10px;
	height:23px;
	padding-left:10px;
}

textarea.indbl{
	display:block;
	width:100%;
	background:#dce4e8;
	color:#626262;
	font-size:14px;
	text-transform:uppercase;
	border:none;
	margin-bottom:10px;
	height:140px;
	padding-left:10px;
}


.formtdp{
	color:#626262;
	text-transform:uppercase;
	font-size:14px;
	text-align:left;
}

.titleformleft{
	margin-bottom:4px;
	overflow:hidden;
}

.titleformleft > span.titleftr{
	display:inline-block;
	width:230px;
	float:left;
}

.titleformleft select{
  width:300px;
  margin-bottom:2px;
}

.rightbdlf .titleformleft > span.titleftr{
	width:190px;

}

.titleformleft > span.titleftr.titleftrbig{
	width:351px;
}

.titleformleft > span.titleftr.bigsrty262{
	width:260px;
}

.titleformleft select{
  background: #dce4e8;
  color: #626262;
  text-transform: uppercase;
  font-family: 'DINPro-Regular';
  height: 25px;
  border: solid 1px #dce4e8;
  margin-right:10px;
}


.red{
	color:#ea5826;
}

.wdth308px,.wdth85px,.wdth275px,.wdth80px,.twdth308px,.wdth75px,.wdth60px,.wdth268px{
	background:#dce4e8;
	border:none;
	height:25px;
	padding:0px 5px;
	width:290px;
}

.twdth308px{
	height:75px;
	resize:none;
}

.wdth268px{
	width:268px;
}

.wdth80px{
	width:70px;
}

.wdth60px{
	width:50px;
}

.wdth75px{
	width:75px;
}

.wdth85px{
	width:85px;
}

.wdth275px{
	width:265px;
	margin:0px 5px 0px 0px;
}

.hrbold{
	padding-bottom:27px;
	border-bottom:12px solid #ea5826;
}

.mlr10{
	margin:0px 4px;
	display:inline-block;
}

.noupper{
	text-transform: none;
}

.mtb30px{
	margin:30px 0px;
}

.mt20px{
	margin:20px 0px;
	margin-bottom:0px;
	padding-bottom:10px;
}

.formtdp .textareaindbl{
	height:90px;
}

.formtdp h3{
	color:#ea5826;
	font-size:14px;
	font-weight:400;
	padding:10px 0px;
}

.dblformt{
	overflow:hidden;
}

.leftbdlf{
	width: 560px;
	float:left;
	
}

.rightbdlf{
	margin-left:560px;
}

.greybortline{
	border-top:12px solid #bdc6ca;
	margin:55px 0px;
	overflow:hidden;
}

.sendzpod{
	color:#fff;
	background:#ea5826;
	width:210px;
	height:53px;
	line-height:53px;
	text-transform:uppercase;
	font-size:15px;
	border:none;
	float:right;
	cursor:pointer;
}

.sendzpod:hover{ background:#bdc6ca;}

.greybortline p{
	margin:0px;
	padding:0px;
	color:#ea5826;
	font-size:14px;
	position:relative;
	top:10px;
	text-transform:none;
	padding-left:10px;
}

.dblch{
	overflow:hidden;
	margin-bottom:10px;
}

.dblch > div{
	width:50%;
	float:left;
}

.box308pxtc{
	text-align:center;
	display:inline-block;
	width:86px;
	font-size:13px;
}

.sercinpt{
	float:right;
	width:140px;
	background:none;
	border:none;
	position:relative;
	top:5px;
}

.submtr{
	background:none;
	overflow:hidden;
	text-indent:-999px;
	border:none;
	cursor:pointer;
	width:20px;
}





.slider-t{
	height:310px;
	margin-bottom:20px;
}


.ust-top1{
	display:block;
	margin:0px;
	padding:0px;
	position:absolute;
	top:0px;
	right:0px;
	/*width:477px;*/
	width:320px;
	text-align:center;
	z-index:99;
}

.ust-top1.leftbotr{
	left:-4px;
}

.ust-top1 li{
	display:block;
	float:left;
	width:155px;
	height:155px;
	margin:0px 0px 4px 4px;
	padding:0px;
	overflow:hidden;
}

.ust-top1 li a{
	display:block;
	width:100%;
	height:100%;
	background:#bdc6ca;
	font-size:16px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	padding-top:45px;
	transition:all 0.3s ease;
  text-transform:uppercase;
	
}

.ust-top1 li a:hover{ background:#eb5614; }

.ust-top1.leftbotr li:last-child,.ust-top1.leftbotr li:last-child{
	background:url(../images/lasfire.jpg) top center no-repeat;
	display:none;
}

.newstitlem{
	text-align:center;
	background:#dce4e8;
	color:#626262;
	font-size:17px;
	width:1060px;
	margin:auto;
	height:42px;
	line-height:42px;
	text-transform:uppercase;
	position:relative;
	vertical-align: middle;
}

.newslist_m{
	margin:0px;
	padding:0px;
	list-style:none;
	overflow:hidden;
	width:102%;
	z-index:99;

}
.newstitlem h1{
	top: 10px;
}

.newslist_m li{
	/*width:350px;*/
	width:309px;
	margin:5px 5px 0px 0px;
	background:#dce4e8;
	padding:20px;
	color:#010101;
	font-size:15px;
	float:left;
	z-index:99;
	position:relative;
  	height: 133px;
}

.newslist_m li > a{
	color:#eb5614;
	font-size:17px;
	text-transform:uppercase;
}


.newslist_m li .date{
	color:#000000;
	font-size:13px;
	margin-bottom:5px;
}



/* slider container */
.iosslider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 1060px;
	height: 152px;
	margin:auto;
	margin-bottom:20px;
}


/* slider */
.iosslider .slider {
	/* required */
	width: 100%;
	height: 285px;

}


/* slide */
.iosslider  .slide {
	/* required */
	float: left;
	width: auto;
	height: 152px;
}

.botrght{
	margin-bottom:20px;
}

.right-fot-m-main{
	margin:0px;
	padding:0px;
	float:right;
	width:405px;
	list-style:none;
}

.right-fot-m-main li{
	display:block;
	height:76px;
	overflow:hidden;
	margin-bottom:3px;
	
}

.right-fot-m-main li a{
	display:block;
	background:#bdc6ca;
	color:#fff;
	font-size:19px;
	font-weight:bold;
	text-transform:uppercase;
	padding-left:90px;
	padding-top:12px;
	height:100%;
	padding-right:40px;
	transition:all 0.3s ease;
	text-align:left;
}

.right-fot-m-main li a:hover{
	background:#eb5614;
	text-decoration:none;
}

.right-fot-m-main li a.tmtt1{
	background:#bdc6ca url(../images/tmmf_01.png) top left no-repeat;
}


.right-fot-m-main li a.tmtt2{
	background:#bdc6ca url(../images/tmmf_02.png) top left no-repeat;
}

.right-fot-m-main li a.tmtt3{
	background:#bdc6ca url(../images/tmmf_03.png) top left no-repeat;
	padding-top:23px;
}

.right-fot-m-main li a.tmtt4{
	background:#bdc6ca url(../images/tmmf_04.png) top left no-repeat;
}


.right-fot-m-main li a.tmtt1:hover{
	background:#eb5614 url(../images/tmmf_01.png) top left no-repeat;
}


.right-fot-m-main li a.tmtt2:hover{
	background:#eb5614 url(../images/tmmf_02.png) top left no-repeat;
}

.right-fot-m-main li a.tmtt3:hover{
	background:#eb5614 url(../images/tmmf_03.png) top left no-repeat;
	
}

.right-fot-m-main li a.tmtt4:hover{
	background:#eb5614 url(../images/tmmf_04.png) top left no-repeat;
}



/* slider container */
.iosslider2 {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 740px;
	height: 312px;
}

.divsl2m{
	position:relative;
	left:0px;
}
.divsl3m{
	float:right;
	position:relative;
	right:0px;
	
}


/* slider */
.iosslider2 .slider {
	/* required */
	width: 745px;
	height: 312px;
	z-index:-1;

}


/* slide */
.iosslider2  .slide {
	/* required */
	float: left;
	width: auto;
	height: 312px;
}





/* slider container */
.iosslider3 {
	/* required */
	position: relative;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 742px;
	height: 312px;
}


/* slider */
.iosslider3 .slider {
	/* required */
	width: 745px;
	height: 312px;
	z-index:-1;
	

}


/* slide */
.iosslider3  .slide {
	/* required */
	float: left;
	width: auto;
	height: 312px;
	z-index:-1;
}

.iosslider3  .slide p{
  margin-top:0px;
}

.sliderContainer .slideSelectors .item:last-child {
	display: none;
}

.sliderContainer2 .slideSelectors .item {
	float: left;
	width: 14px;
	height: 14px;
	background: url(../images/slider-i-t.png) center center no-repeat;
	margin: 1px 1px 1px 11px;
	/* opacity: 0.25; */
	filter: alpha(opacity=25);
	border-radius: 10px;
	position:relative;
}

.sliderContainer2 .slideSelectors .item.first {
	margin-left: 1px;
}

.sliderContainer2 .slideSelectors .selected {
	width: 14px;
	height: 14px;
	margin: 0 0 0 10px;
	background: url(../images/slider-i-t-active.png) center center no-repeat;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
}

.sliderContainer2 .slideSelectors .selected.first {
	margin-left: 0;
}

.sliderContainer2 .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}


.sliderContainer{
	position:absolute;
	bottom:13px;
	right:20px;
	overflow:hidden;
	z-index:99;
	}

.sliderContainer2{
	position:absolute;
	bottom:20px;
	left:120px;
	overflow:hidden;
	z-index:9;
}


.sliderContainer3{
	position:absolute;
	bottom:20px;
	right:120px;
	overflow:hidden;
	z-index:9;
}

.sliderContainer3 .slideSelectors .item {
	float: left;
	width: 14px;
	height:14px;
	background: url(../images/slider-i-t.png) center center no-repeat;
	margin: 1px 1px 1px 11px;
	/* opacity: 0.25; */
	filter: alpha(opacity=25);
	border-radius: 10px;
	position:relative;
}

.sliderContainer23.slideSelectors .item.first {
	margin-left: 1px;
}

.sliderContainer3 .slideSelectors .selected {
	width: 14px;
	height: 14px;
	margin: 0 0 0 10px;
	background: url(../images/slider-i-t-active.png) center center no-repeat;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
}

.sliderContainer3 .slideSelectors .selected.first {
	margin-left: 0;
}




.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}



.sliderContainer .slideSelectors .item {
	float: left;
	width: 14px;
	height: 14px;
	background: url(../images/slider-i-t.png) center center no-repeat;
	margin: 1px 1px 1px 11px;
	/* opacity: 0.25; */
	filter: alpha(opacity=25);
	border-radius: 10px;
	position:relative;
}

.sliderContainer .slideSelectors .item.first {
	margin-left: 1px;
}

.sliderContainer .slideSelectors .selected {
	width: 14px;
	height: 14px;
	margin: 0 0 0 10px;
	background: url(../images/slider-i-t-active.png) center center no-repeat;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
}

.sliderContainer .slideSelectors .selected.first {
	margin-left: 0;
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}











.news-list.Project_list  li a > span,.news-list.Project_list  li a:hover > span{
	background:none;
}

.news-list.Project_list  li{
	width:23%;
}

.news-list.Project_list  li a img{
	width:100%;
}


.openProj{
	color:#626262;
	font-size:16px;
	width:570px;
	line-height:24px;
}

.openProj b{
	text-transform:uppercase;
}

.tableSrav{
	text-align:center;
	margin-bottom:40px;
	text-transform:uppercase;
  font-size:11px;
}

.tableSrav img{
  width:70px;
}

.tableSrav .modssrv{
	width:135px;
}

.tableSrav td{
	border-right:1px solid #626262;
	border-bottom:1px solid #626262;
	padding:7px;
}

.tableSrav tr:last-child td{
	border-bottom:none;
}

.boxFilter{
	background:#ea5826 url(../images/filterTopShadow.jpg) left top repeat-x;
	position:relative;
	margin:auto;
	margin-top:-14px;
}

.wpcF{
	width:1030px;
	margin:auto;
	
}

.filtertitlre h3{
	color:#fff;
	/*font-size:25px;*/
  font-size:21px;
	margin:0px;
	padding:20px 20px 20px 0px;
	text-transform:uppercase;
	cursor:pointer;
	position:relative;
}

.arrbottom{
	position:absolute;
	left:50%;
	bottom:-9px;
	cursor:pointer;
	z-index:99;
}

.filtertitlre h3 > span{
	display:inline-block;
	background:url(../images/closeF.png) right center no-repeat;
	padding-right:15px;
}

.bodyFilter{
	display:none;
}

.box1FilterB{
	padding:0 0 20px;
	border-bottom:1px solid #fff;
}

.box1FilterB span{
	display:inline-block;
	margin-right:85px;
	color:#ffffff;
	/*font-size:17px;*/
  font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	background:url(../images/radF.png) right center no-repeat;
	padding-right:30px;
	text-decoration: none;
}

.box1FilterB span:last-child{
	margin-right:0px;
}

.box1FilterB span.active{
	background:url(../images/radFactive.png) right center no-repeat;
}

.box1FilterB a{
  margin-right:20px;
}

.formFilterM{
	overflow:hidden;
	padding-bottom:20px;
	position:relative;
}

.formFilterM .submtryf,.fzakonline .submtryf{
	position:absolute;
	right:0px;
	bottom:0px;
	color:#dce4e8;
	display:block;
	width:147px;
	height:30px;
	text-transform:uppercase;
	text-align:center;
	border:none;
	background:#626262;
	font-size:22px;
	cursor:pointer;
	font-family: 'DINPro-Regular';
}

.formFilterM > div{
	float:left;
	/*color:#626262;
	font-size:15px;*/
  color:#fff;
	font-size:13px;
	font-weight:bold;
  margin-right:25px;
}

.formFilterM > div h3{
	text-transform:uppercase;
	color:#fff;
	/*font-size:16px;*/
  font-size:12px;
	font-weight:400;
}

#tbs1s .formFilterM > div.tmf5 span{
  float:left;
  margin-right: 10px;
}

#tbs1s .formFilterM > div.tmf6 span{
  float:left;
  margin-right: 10px;
}

#tbs1s .formFilterM > div.tmf7 span{
  float:left;
  margin-right: 10px;
}

#tbs1s .formFilterM .chkbox {
  width:250px;
}

#tbs1s .formFilterM > div.tmf7 .chkbox{
  width:215px;
}

#tbs1s .formFilterM > div.tmf7 {
  margin-right:10px;
}

#tbs1s .formFilterM > div.tmf8 {
  margin-right:0px;
}

#tbs2s .formFilterM > div.tmf1{
	width:330px;
}

#tbs2s .formFilterM > div.tmf2{
	width:250px;
}

#tbs2s .formFilterM > div.tmf3{
	width:235px;
}

#tbs2s .formFilterM > div.tmf4{
	width:205px;
}

#tbs2s .formFilterM > div.tmf5{
	width:330px;
}

#tbs2s .formFilterM > div.tmf6{
	width:330px;
}



#tbs3s .formFilterM > div.tmf1{
	width:240px;
}

#tbs3s .formFilterM > div.tmf2{
	width:290px;
}

#tbs3s .formFilterM > div.tmf3{
	width:185px;
}

#tbs3s .formFilterM > div.tmf4{
	width:300px;
}


#tbs3s .formFilterM > div.tmf5{
	width:260px;
}



#tbs4s .formFilterM > div.tmf1{
	width:230px;
}

#tbs4s .formFilterM > div.tmf2{
	width:210px;
}

#tbs4s .formFilterM > div.tmf3{
	width:185px;
}

#tbs4s .formFilterM > div.tmf4{
	width:240px;
}


#tbs4s .formFilterM > div.tmf5{
	width:150px;
}

#tbs4s .formFilterM > div.tmf6{
	width:170px;
}

.tabsFilter{
	display:none;
	padding-bottom:30px;
}
/*.o-listr li{
	transition: all .25s;
}*/


.o-listr li a span{
	font-size:17px !important;
	/*background:#e5ecef;*/
}

.o-listr li a:hover span{text-decoration:underline;}

.o-listr li > a.itemolist{
	opacity: 0;
	display:block;
	background:#e5ecef;
	color:#656565;
	font-size:17px !important;
	padding-left:15px;
	text-transform:uppercase;
	/*margin-bottom:3px;*/
	padding:7px 0px 7px 15px;
}

.o-listr li > a:hover{
	text-decoration:underline;
}

.flrightbottom{
	overflow:hidden;
	text-align:right;
}

.sentdfrd{
	width:113px;
	height:26px;
	background:#ea5826;
	color:#fff;
	border:none;
	font-size:13px;
	text-transform:uppercase;
	cursor:pointer;
}


.listoform{
	margin-bottom:30px;}
	
.titleh1.tovarname{
	margin-top:100px;
	border-bottom:4px solid #bdc6ca;
	padding-bottom:5px;
}

.litmAttra td{
	padding:5px 0px;
	text-transform:uppercase;
	color:#ea5826;
	font-weight:bold;
}

.litmAttra td.nametrsd{
	width:322px;
	padding-left:20px;
	color:#686868;
	font-size:15px;
	
}

.attrfulltre{
	background:#dce4e8;
	color:#ea5826;
	font-size:15px;
	padding:5px;
	margin-bottom:40px;
	text-transform:uppercase;
	font-weight:bold;
}

.attrfulltre td{
	padding:8px;
	border-bottom:1px dashed #fff;
}


.attrfulltre td.namertyr{
	color:#686868;
}

.attrfulltre tr:last-child td{
	border:none;
}

.txtalgrightdf a{
	display:inline-block;
	width:210px;
	height:50px;
	background:#ea5826;
	color:#fff;
	text-align:center;
	line-height:50px;
	font-size:16px;
	text-transform:uppercase;
  margin-left: 10px;
}

.txtalgrightdf{
	text-align:right;
	margin-bottom:30px;
}

.txtalgrightdf a:hover{
	text-decoration: none;
}

.txtalgrightdf a.sravtovare{
	background:#bdc6ca;
	color:#ea5826;
}

.formBOxw23{
	background:#ea5826 url(../images/filterTopShadow.jpg) top left repeat-x;
	display:none;
}

.ofvhDjs{
	overflow:hidden;
	font-size:13px;
	color:#ffffff;
	text-transform:uppercase;
	padding:30px 0px 20px 0px;
	margin-bottom:40px;
}

.ovfBoxrtleft{
	width:530px;
	float:left;
	overflow:hidden;
	margin-left:20px;
}

.ovfBoxrtleft input{
	float:right;
	width:300px;
	height:25px;
	color: #626262;
}

.ovfBoxrtright{
	float:left;
	margin-left:30px;
	margin-right:20px;
	width:455px;
}

.ovfBoxrtright input{
	float:right;
	width:280px;
	height:25px;
	color: #626262;
}

.ofvhDjs  div  div{
	margin-bottom:15px;
	height:25px;
	line-height:25px;
}

.fzakonline{
	position:relative;
	overflow:hidden;
	padding-bottom:40px;
}

.fzakonline .submtryf{
	right:30px;
	font-size:16px;
}

.news-list.olistr li{
	width:206px;
  height:230px;
	margin:0px 2px;
	margin-bottom:20px;
}

.news-list.olistr li div{
  text-align:center;
}

.news-list.olistr li img{
	height:150px;
}

.news-list.olistr li a span{
	font-size:16px;
}

.cliashtrs a{
	font-size:21px;
	color:#6b6b6b;
	text-decoration:none;
	display:inline-block;
	margin-left:15px;
	padding-right:20px;
	background:url(../images/catoptn.png) right center no-repeat;
}

.cliashtrs a.active{
	background:url(../images/catclose.png) right center no-repeat;
}

.tabscat{
	display:inline;
}

.tabscat.active{
	display:block;
}

.nofountdsds{
	color:#ea5826;
	font-size:21px;
	line-height:24px;
	text-transform:uppercase;
}

.ptop50{
	padding-top:30px;
}

.mynewfr input[type=text],.mynewfr textarea{
	color:#626262;
}

.mynewfr input[type=text]::-webkit-input-placeholder {
    color:    #626262;
}
.mynewfr input[type=text]:-moz-placeholder,
.mynewfr input[type=text]::-moz-placeholder {
    color:    #626262;
}
.mynewfr input[type=text]:-ms-input-placeholder {
    color:    #626262;
}

.mynewfr textarea::-webkit-input-placeholder {
    color:    #626262;
}
.mynewfr textarea:-moz-placeholder,
.mynewfr textarea::-moz-placeholder {
    color:    #626262;
}
.mynewfr textarea:-ms-input-placeholder {
    color:    #626262;
}




/* slider container */
.iosslider233 {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 1060px;
	height: 182px;
	margin:auto;
	margin-bottom:60px;
}


/* slider */
.iosslider233 .slider {
	/* required */
	width: 100%;
	height: 285px;

}


/* slide */
.iosslider233  .slide {
	/* required */
	float: left;
	width: auto;
	height: 250px;
	margin:0px 8px;
}

.iosslider233  .slide a span{
	display:block;
	padding-left:15px;
	font-size:17px;
	text-transform:uppercase;
}

.boxTovzPok{
	position:relative;
	width:1100px;
	left:-20px;
}

.boxTovzPok h3{
	font-size:25px;
	color:#ea5826;
	text-transform:uppercase;
	font-weight:normal;
}

.prevSlidersT{
	position:absolute;
	right:-10px;
	top:115px;
}

.nextSlidersT{
	position:absolute;
	left:-10px;
	top:115px;
}
.conteiner {
    position: relative;
    min-height: 100%;
    background: url(../images/bg.jpg) top left repeat-x;
}
.iosslider2 p {
    margin: 0px;
}
.pdfopros img{
  width:100px;
  float:left;
}
.pdfopros span{
  float:left;
  margin-top:35px;
}
.year select{
  width:144px !important;
}
.year2 select{
  width:273px !important;
}
.prices {display:none;}
.prices em{
  font-style:normal;
  text-decoration:line-through;
  margin:0 10px;
  font-size:13px;
}
.dorus {
	padding-top:5px;
}
.dorus a{
	color:#FFF;
}
.tablebrdrf {
border-collapse: collapse;
border: solid 1px #aaa;
}

.tablebrdrf tr {
 border-color: #aaa;
 border: solid 1px #aaa;
}
.tablebrdrf td {
border-color: #aaa;
border: solid 1px #aaa;
}
.prem {
	width:320px;
	float:left;
	margin-right:25px;
	height:75px;
  text-align:left;
}
.prem img{
	float:left;
	margin-right:10px;
}
#ramp_gear, #min_work_pressure, #max_work_pressure, #core_power_max, #model {
	display:none;
}
div.pr span {
display:block;
position:absolute;
margin-left:593px;
margin-top:201px;
z-index:99999;
}
.name-prod {
	height:55px;
}
.hidden{
	display: none;
}

.phone_link{
	color: #EC6E42;
	outline: none;
	text-decoration: none;
	z-index: 350;
}
.phone_link:hover{
	color: grey;
}

.li_under_line{
	border-bottom: 1px solid grey;
	margin-top: 5px;
	opacity: 0.3;
}
.hide_menu{
	font-size: 0.4em;
}
.phone_mob_size{
	margin-left: 165px;
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
}
.top_phone{
	font-size: 1.8em;
	color: grey;
	display: none;
}
.top_phone:hover{
	color: #EC6E42;
}
.mail_in_mob_menu{
	color: #fff;
	font-size: 1.8em;
	margin: auto;
	/*text-align: center;*/
	/*margin-left: 18%;*/
	/*padding-top: 50px;*/
}

.callback_main_page{
	display: none;
}
